beautifulsoup4==4.9.0
bs4==0.0.1
date-range==0.0.1
EasyProcess==0.2.10
lxml==4.5.0
pyttsx==1.1
pyttsx3==2.87
PyVirtualDisplay==0.2.5
selenium==3.141.0
soupsieve==2.0
urllib3==1.25.8
XlsxWriter==1.2.8
